{% if page.content != blank %}
  <div class="rte">
    {{ page.content }}
  </div>
{% endif %}

{% if page.content != blank %}
  <div class="rte">
    {{ page.content }}
  </div>
{% else %}
  <div class="rte">
    The page content is currently pending. Please check again shortly.
  </div>
{% endif %}

{% if page.content.size > 100 %}
  <div class="rte">
    {{ page.content }}
  </div>
{% elsif page.content.size < 100 and page.content != blank %}
  <div class="rte">
    Our content writers are making the final touches, and the page content will be available shortly.
  </div>
{% else %}
  <div class="rte">
    The page content is currently pending. Please check again shortly.
  </div>
{% endif %}

{% case page.content.size %}
  {% when 150 %}
    The page has only 150 characters, so this should not take much time to read.
  {% when 350 %}
    We have bumped the page to 350 characters, but it should not take that much time.
  {% when 1000 %}
    We now have 1000 characters written, and it is going to take a few minutes to read everything carefully.
{% endcase %}

{% unless page.title != "Controlling the flow of Liquid" %}
  Unless the page title is Controlling the Flow of Liquid, the code inside this conditional will not execute.
{% endunless %}

{% assign stringVar = 'This is a string!' %}
{% assign numberVar = 2021 %}
{% assign booleanVar = true %}

{{ stringVar }}
{{ numberVar }}
{{ booleanVar }}

{% if stringVar == "This is a String!" %}
  The variable content is a string value!
{% elsif stringVar == 2021 %}
  The variable content is a number value!
{% else %}
  The variable content is a boolean value!
{% endif %}

{% assign percent = 15 %}
{% assign deal = "three or more" %}


{% capture promoMessage %}
  if you order {{ deal }} books, you can receive up to a {{ percent }}% discount!
{% endcapture %}

{{ promoMessage }}

<div class="product-count">
  <div id="product-item-{% increment counter %}"></div>
  <div id="product-item-{% increment counter %}"></div>
  <div id="product-item-{% increment counter %}"></div>
</div>

{% comment %} the result {% endcomment %}
<div class="product-count">
  <div id="product-item-0"></div>
  <div id="product-item-1"></div>
  <div id="product-item-2"></div>
</div>

{% assign numberVar = 7 %}

{% increment numberVar %}
{% increment numberVar %}

{{ numberVar }}


{% decrement numberVar %}
{% decrement numberVar %}
{% decrement numberVar %}

{% for product in collection.products %}
  {{product.title}}
{% endfor %}

{% for product in collections["outdoor"].products %}
  {{product.title}}
{% endfor %}


{% for product in collections["outdoor"].products %}
  {% if product.price > 10000 %}
    {% continue %}
  {% else %}
    {{ product.title }}
  {% endif %}
{% endfor %}


{% for product in collections["outdoor"].products %}
  {% if product.price > 10000 %}
    {% break %}
  {% else %}
    {{ product.title }}
  {% endif %}
{% endfor %}


{% for product in collections["outdoor"].products limit: 4 %}
  {% if product.price > 10000 %}
    {% continue %}
  {% else %}
    {{ product.title }}
  {% endif %}
{% endfor %}

{% for product in collections["outdoor"].products offset: 4 %}
  {% if product.price > 10000 %}
    {% continue %}
  {% else %}
    {{ product.title }}
  {% endif %}
{% endfor %}

{% for product in collections["outdoor"].products offset: 4 limit: 1 %}
  {% if product.price > 10000 %}
    {% continue %}
  {% else %}
    {{ product.title }}
  {% endif %}
{% endfor %}

{% for item in (3..5) %}
  {{ item }}
{% endfor %}

{% assign start = 3 %}

{% for item in (start..collections["outdoor"].all_products_count) %}
  {{ item }}
{% endfor %}

{% for item in (3..5) reversed %}
  {{ item }}
{% endfor %}


{% for product in collection.products limit: 4 %}
  <div class="product-item {% cycle "first", "", "", "last" %}"></div>
{% endfor %}

{% for product in collection.products limit: 9 %}
  <div class="product-item {% cycle "first", "", "", "last" %}"></div>
{% endfor %}

{% for product in collection.products limit: 6 %}
  <div class="product-item {% cycle "first", "", "", "last" %}"></div>
{% endfor %}

{% for product in collection.products limit: 4 %}
  <div class="product-item {% cycle "first", "", "", "last" %}"></div>
{% endfor %}



{% for product in collection.products limit: 6 %}
  <div class="product-item {% cycle "group1": "first", "", "", "last" %}"></div>
{% endfor %}

{% for product in collection.products limit: 4 %}
  <div class="product-item {% cycle "group2": "first", "", "", "last" %}"></div>
{% endfor %}

{% layout "theme.alternate" %}

{% for item in collections["outdoor"].products offset: 4 %}
  {% if product.price > 10000 %}
    {% continue %}
  {% else %}
    {{ product.title }}
  {% endif %}
{% endfor %}

{% liquid
for product in collections["outdoor"].products offset: 4
  if product.price > 10000
    continue
  else
    echo product.title
  endif
endfor %}


{% form "product", product %}
{% endform %}


{% for product in collections["outdoor"].products offset: 4 %}
  {% if product.price > 10000 %}
    {% continue %}
  {% else %}
    {% form "product", product %}
      {{ product.title }}
    {% endform %}
  {% endif %}
{% endfor %}

{% for product in collections["outdoor"].products offset: 4 %}
  {% if product.price > 10000 %}
    {% continue %}
  {% else %}
    {% capture productId %}prouctId-{% increment counter %}{% endcapture %}
    {% form "product", product, id: productId, data-location: "collection" %}
      {{ product.title }}
    {% endform %}
  {% endif %}
{% endfor %}

{% form "product", return_to: "back" %}
{% endform %}

{% paginate collection.products by 5 %}
  {% for product in collection.products %}

  {% endfor %}
{% endpaginate %}

{% render "snippet-name" %}

{% for product in collections["outdoor"].products offset: 4 %}
  {% if product.price > 10000 %}
    {% continue %}
  {% else %}
    {% render "collection-form", product: product  %}
  {% endif %}
{% endfor %}

{% render 'snippet-file' with collections["collection-handle"] as featured_collection %}

{% if condition %}

{% endif %}

{% if product.price > 10000 %}
  {% continue %}
{% else %}
  {% form "product", product, data-location: "collection" %}
	  {{ product.title }}
  {% endform %}
{% endif %}

{% render 'collection-form' for collections["outdoor"].products as product %}


{% raw %}
  The name of our collection is {{ collection.title }}
{% endraw %}
